// ゴシック体
$_fg-yu = YuGothic, "Yu Gothic", "Yu Gothic"
$_fg-hiragino = "Hiragino Kaku Gothic ProN"
$_fg-meryo = Meiryo
$_fg_arial = ArialMt, Arial
$_fg-helvetica = Helvetica
$_fg-helveticaN = "Helvetica Neue"
$_fg-android = "Droid Sans", Roboto
$_fg-verdana = verdana
$_fg-fallback = sans-serif

// 明朝体
$_fm-yu = YuMincho, "Yu Mincho"
$_fm-hiragino = "Hiragino Mincho ProN"
$_fm-ms-mincho = "MS PMincho"
$_fm-geogia = Geogia
$_fm-fallback = serif

// その他
$_f-code = Consolas, "Courier New", Courier, Monaco, monospace
$_f-apple = -apple-system
$_f-blink = BlinkMacSystemFont

// コード
$_f_code = Consolas, 'Courier New', Courier, Monaco, monospace

// Font assets
$font-default = $_f-apple, $_f-blink, $_fg-helveticaN, $_fg-yu, $_fg-hiragino, $_fg-meryo, $_fg-verdana, $_fg-android, $_fg-fallback
